* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
}

.links {
}

.link_item {
  list-style: none;
  margin: 20px;
  font-size: 20px;
}

.links a {
  text-decoration: none;
  color: white;
}
